PORT=7900

MINIO_INTERNAL_ENDPOINT=localhost
MINIO_INTERNAL_PORT=9000
MINIO_INTERNAL_USE_SSL=false

MINIO_EXTERNAL_ENDPOINT=localhost
MINIO_EXTERNAL_PORT=9000
MINIO_EXTERNAL_USE_SSL=false

MINIO_PUBLIC_BASE_URL=http://localhost:9000

MINIO_HOST_PORT=9000
MINIO_CONSOLE_PORT=9001

MINIO_ACCESS_KEY=EXAMPLE_ACCESS_KEY
MINIO_SECRET_KEY=EXAMPLE_SECRET_KEY

MINIO_PRIVATE_BUCKET=uploads
MINIO_PUBLIC_BUCKET=public