# MOVE THIS DOCKER COMPOSE TO OUTSIDE ROOT FOLDER 
# TO ITS OWN FOLDER (EG. INFRA) WITH ITS OWN ENV FILE

version: '3.9'

networks:
  anivoy-shared-net:
    driver: "bridge"

services:
  postgres:
    image: postgres:17
    container_name: anivoy-main-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${MAIN_DB_USER}
      POSTGRES_PASSWORD: ${MAIN_DB_PASSWORD}
      POSTGRES_DB: ${MAIN_DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: anivoy-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data
    restart: unless-stopped

volumes:
  db-data:
  redis-data:
